<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<a href=""><i class="fa fa-bars"></i>
				sections</a>
			</li>
			<li id="search-modal-btn">
				<a href=""><i class="fa fa-search"></i>
				search</a>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe-btn">
				<button type="button" >Subscribe</button>
			</li>
			<li id="log-in-btn">
				<button type="button" >Log in</button>
			</li>
			<li id="gear-dropdown" class="hidden" >
				<a href=""><i class="fas fa-cog"></i></a>

			</li>
		</ul>
	</nav>
</header>